.title {
    width: 50%;
}

.add-container {
    justify-content: flex-end;
}

.add {
    width: 15%;
    margin-right: 7%;
}

.add-btn {
    padding: 6%;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(65, 253, 105);
}